/* ------IMPORT FONTS------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



/* --------RESET DEFAULT STYLES-------- */
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    color: #d4d4d4;
    box-sizing: border-box;
    z-index: 2;
}

/* ------PAGE CONTENTS POSITIONS AND SETTINGS------- */
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: #1d2131;
    margin-top: 50px;  
    background-image: url('../sources/texture-bg-5.png');
}

main {
    display: flex;
    flex-flow: column;
    width: 85%;
    max-width: 1000px;
    gap: 15vh;
    padding-bottom: 10vh;
}

.title-section {
    font-size: 48px;
    color: #000000;
    opacity: 50%;
    font-weight: 900;
    text-align: center;
    text-transform: lowercase;

    z-index: 1;
}


/* ---------MENU--------- */
.conteiner-menu-principal {
    order:1;
    padding-top: 100px;
    width: 150px;;
    
    z-index: 5;
}

.menu-principal {
    position: fixed;
    z-index: 20;
}

.menu-principal-image {
    height: 3.75em;
}

.menu-link-item a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
}

 .menu-link-item :hover{
    color:rgb(160, 88, 228);
    transition: all 0.2s;
}




/* --------HERO SECTION--------- */

.hero {
    margin-bottom: 7vh;
    display: flex;
    align-items: flex-end;
    height: 75vh;
}

.hero-image-content {
    width: 615px;
    position: relative;
    right: 40px;
}


.hero-title{
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    width: 50%;
    margin-bottom: 50px;
    z-index: 15;
}

.hero-h1 {
    color: #8224E3;
    font-size: 110px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: -5px;
}

.hero-h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}





/*----------HERO  SCROLL DOWN ANIMATION----------*/
.hero-scroll-down {
    display: flex;
    width: 3.4rem;
    height: 4.7rem;
    background-color: #8224E3;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
}

.scroll {
    display: flex;
    width: 2rem;
    height: 3.2rem;
    border: 3px solid #fff;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
}

.scroll span {
    width: .55rem;
    height: .55rem;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    animation: scroll-down 1s linear infinite;
}
/* -------SCROLL DOWN ANIMATION------- */
@keyframes  scroll-down {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(1rem);
    }
}



/* ---------ABOUT SECTION---------- */
.about .title-section {
    margin-bottom: 10px;
}
.about-elements {
    display: flex;
    gap: 5vw;
    position: relative;
}

/* ---------ABOUT IMAGE---------- */
.about-information-1 {
    background-color: #5114A5;
    border-radius: 20px;

    width: 60%;
    height: 40vh;
    background-image: url("../sources/paper--texture.webp");
    background-blend-mode: multiply;
}

.about-image img {
    width: 330px;
    object-fit: contain;
    border-radius: 10px;

    position: absolute;
    left: 20px;
    bottom: 3vh;
}

/* ---------ABOUT INFOS---------- */
.emphase-text {
    font-size: 2rem;
    color: #8224E3;
}

.about-information-2 {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 50px;
    width: 130%;
    font-size: 1rem;
    text-align: justify;
}

.about-head-information {
    color: #8224E3;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.about-content-information  {
    color: #ead4ff;
}

.about-content-information:hover {
    color: #8224E3;
}

.redes-sociais-icons {
    display: flex;
    gap: 10px;
}



/* ---------TECHS SECTION---------- */
.techs {
    position: relative;
}

.techs-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-bottom: 60px;
}

.techs-bg{
    width: 100%;
    height: 20vh;
    background-image: url("../sources/paper-texture.jpg");
    background-color: #5114A5;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment:fixed;
    opacity: 100%;

    position: absolute;
    top: 125px;
    left: 0;

}

.tech-icon {
    width: 6vh;
    height: 6vh;
    margin-top: 10%;
    opacity: 80%;

    background-repeat: no-repeat;
    background-size: contain;
}

.icon-html {
    background-image: url("../sources/icons/icons8-html-5.svg");
}

.icon-css {
    background-image: url("../sources/icons/icons8-css3.svg");
}

.icon-js {
    background-image: url("../sources/icons/icons8-javascript.svg");
}

.icon-nodejs {
    width: 12vh;    
    background-size: cover;
    background-image: url("../sources/icons/icons8-nodejs.svg");
    background-position: center;
}

.icon-ps {
    background-image: url("../sources/icons/icons8-adobe-photoshop.svg");
}

.icon-ai {
    background-image: url("../sources/icons/icons8-adobe-illustrator.svg");
}

.icon-figma {
    height: 6vh;
    background-image: url("../sources/icons/icons8-figma.svg");
}



/* ---------PORTFOLIO SECTION---------- */
.portfolio-title {
    margin-bottom: 3%;
}

.portfolio-itens {
    display: flex;
    gap: 2%;

}
.portfolio-item {
    width: 23vw;
    height: 40vh;

    border-radius: 20px;
    background-color: #141b2e;
    background-image: url("../sources/paper-texture-3.jpg");
    background-blend-mode: multiply;
    position: relative;
    cursor: pointer;

}

.portfolio-bg-itens {
    position: absolute;
    width: 21.6vw;
    height: 40vh;
    border-radius: 20px;
}

.portfolio-item:hover .portfolio-bg-itens{
    box-shadow: 0 0 30px #0b0c15;
}

.portfolio-item-img {
    margin: 4px;
    height: 65%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    opacity: 60%;
}

.portfolio-item-name {
    margin: 5%;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.portfolio-item-tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%
}
span.portfolio-item-tag {
    padding: 0.5px 10%;
    border-radius: 20px;
    background-color: #5114A5;
    font-size: 14px;

    color: #fff;
}





footer {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #141b2e;
    background-image: url("../sources/paper-texture-3.jpg");
    background-blend-mode: multiply;
    
    position: absolute;
    bottom: -200vh;
}


