
/* ------PAGE CONTENTS POSITIONS AND SETTINGS------- */
.container-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: #1d2131;
 
    background-image: url('../sources/texture-bg-5.png');
}


main {
    display: flex;
    flex-flow: column;
    width: 85%;
    max-width: 1000px;
    gap: 15vh;
    padding-bottom: 10vh;
}

.title-section {
    font-size: 48px;
    color: #3c3e52;
    opacity: 100%;
    font-weight: 900;
    text-align: center;
    text-transform: lowercase;

    margin-bottom: 3%;

    z-index: 1;
}

.title-section :hover{
    cursor: pointer;
    color: #ffffff;
}

a {
    color: #a058e4;
}

a :visited {
    color:#ead4ff;
}



/* ---------MENU--------- */
.conteiner-menu-principal {
    order:1;
    padding-top: 100px;
    width: 150px;;
    
    z-index: 5;
}

.menu-principal {
    position: fixed;
    z-index: 20;
}

.menu-principal-image {
    height: 3.75em;
}

.menu-link-item a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
}

 .menu-link-item :hover{
    color:#a058e4;
    transition: all 0.2s;
}




/* --------HERO SECTION--------- */

.hero {
    margin: 2vh 0;
    display: flex;
    align-items: flex-end;
    height: 75vh;
}

.hero-image-content {
    width: 615px;
    position: relative;
    right: 40px;
}


.hero-title{
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    width: 50%;
    margin-bottom: 50px;
    z-index: 15;
}

.hero-h1 {
    color: #8224E3;
    font-size: 110px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: -5px;
}

.hero-h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}





/*----------HERO  SCROLL DOWN ANIMATION----------*/
.hero-scroll-down {
    display: flex;
    width: 3.4rem;
    height: 4.7rem;
    background-color: #8224E3;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
}

.scroll {
    display: flex;
    width: 2rem;
    height: 3.2rem;
    border: 3px solid #fff;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
}

.scroll span {
    width: .55rem;
    height: .55rem;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    animation: scroll-down 1s linear infinite;
}
/* -------SCROLL DOWN ANIMATION------- */
@keyframes  scroll-down {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(1rem);
    }
}



/* ---------ABOUT SECTION---------- */

.about-elements {
    display: flex;
    gap: 5vw;
    position: relative;
}

/* ---------ABOUT IMAGE---------- */
.about-information-1 {
    background-color: #5114A5;
    border-radius: 20px;

    width: 60%;
    height: 40vh;
    background-image: url("../sources/paper--texture.webp");
    background-blend-mode: multiply;
}

.about-image img {
    width: 330px;
    object-fit: contain;
    border-radius: 10px;

    position: absolute;
    left: 20px;
    bottom: 3vh;
}

/* ---------ABOUT INFOS---------- */
.emphase-text {
    font-size: 2rem;
    color: #8224E3;
}

.about-information-2 {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 50px;
    width: 130%;
    font-size: 1rem;
    text-align: justify;
}

.about-head-information {
    color: #8224E3;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.about-content-information  {
    color: #8224E3;
}

.about-content-information:hover {
    color: #ead4ff;
}

.redes-sociais-icons {
    display: flex;
    gap: 10px;
}



/* ---------TECHS SECTION---------- */
.techs {
    position: relative;
}

.techs-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin: 90px 0 80px;
}

.techs-icons::after{
    content: "";
    width: 100%;
    height: 20vh;
    background-image: url("../sources/paper-texture.jpg");
    background-color: #5114A5;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment:fixed;
    opacity: 100%;

    position: absolute;

}

.tech-icon {
    width: 6vh;
    height: 6vh;

    opacity: 80%;

    background-repeat: no-repeat;
    background-size: contain;
}

.icon-html {
    background-image: url("../sources/icons/icons8-html-5.svg");
}

.icon-css {
    background-image: url("../sources/icons/icons8-css3.svg");
}

.icon-js {
    background-image: url("../sources/icons/icons8-javascript.svg");
}

.icon-nodejs {
    width: 12vh;    
    background-size: cover;
    background-image: url("../sources/icons/icons8-nodejs.svg");
    background-position: center;
}

.icon-ps {
    background-image: url("../sources/icons/icons8-adobe-photoshop.svg");
}

.icon-ai {
    background-image: url("../sources/icons/icons8-adobe-illustrator.svg");
}

.icon-figma {
    height: 6vh;
    background-image: url("../sources/icons/icons8-figma.svg");
}



/* ---------PORTFOLIO SECTION---------- */


.portfolio-itens {
    display: flex;
    gap: 2%;

}
.portfolio-item {
    width: 23vw;
    height: 40vh;

    border-radius: 20px;
    background-color: #141b2e;
    background-image: url("../sources/paper-texture-3.jpg");
    background-blend-mode: multiply;
    position: relative;
    cursor: pointer;

}

/* .portfolio-bg-itens {
    position: absolute;
    width: 23vw;
    height: 40vh;
    max-width: 318px;

    border-radius: 20px;
}

.portfolio-item:hover .portfolio-bg-itens{
    box-shadow: 0 0 30px #0b0c15;
} */

.portfolio-item:hover {
    box-shadow: 0 0 30px #06060b;
    background-color: #1c2640;
}


.portfolio-item-img {
    margin: 4px;
    height: 65%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    opacity: 60%;
}

.portfolio-item-name {
    margin: 5%;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.portfolio-item-tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%
}
span.portfolio-item-tag {
    padding: 0.5px 10%;
    border-radius: 20px;
    background-color: #5114A5;
    font-size: 14px;
    
    color: #fff;
}



/* ---------CONTACT SECTION---------- */
.contact-infos, .contact-form{
    display: flex;
    flex-direction: column;
}

.contact-content {
    display: flex;
    gap:3vw;
}

.contact-text {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.contact-text-quote {
    font-size: 24px;
    font-weight: 600;
}



/*------------------------------------*/
.contact-form-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2% 0 4%;
    font-size: 18px;
}

.contact-form {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3% 4%;
    border-radius: 20px;
    gap: 20px;
    
    background-color: #5114A5;
    background-image: url("../sources/paper-texture-3.jpg");
    background-blend-mode: multiply;
}

.contact-form input, .contact-form textarea, .contact-form button {
    width: 100%;
    background-color: #141b2ee3;
    border-radius: 10px;
    height: 4.5vh;
    padding: 0 4%;
}

.contact-label {
    margin: 6px 2% 0;
    padding: 0 8px ;
    font-size: 16px;
    font-weight: 300;
    color: #f1e2ffa5;
    background-color: #191A38;
    border-radius: 5px;
    
    position: absolute;
    left: 0;
    top: 4px;
    
    transition: all .3s;
}

.contact-label::after {
    width: 100px;
    height: 10px;
    background-color: #ead4ff;
    backdrop-filter: blur(5px);
    margin: 0 2px;
}

.contact-form textarea {
    height: 20vh;
    padding: 4%;
    resize:vertical;
}

.contact-form-item {
    width: 100%;
    position: relative;
}

.contact-form-item-button {
    width: 60%;
}

.contact-form button {
    margin: 4% 0 3%;
    border: none;
    
    color: white;
    font-size: 18px;
    
    background-color:#8224E3;
    cursor: pointer;
}

.contact-input:focus + .contact-label, .contact-input:valid  + .contact-label, .contact-input:valid {
    top: -17px; 
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;

}

.contact-input:focus + .contact-label, .contact-input:valid  + .contact-label {
    background-color: #a058e4;
}

.contact-input:focus{
    outline: #a058e4 solid 1px;
}


/* ---------FOOTER---------- */
footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 14px;
    font-weight: 300;

    background-color: #141b2e;
    background-image: url("../sources/paper-texture-3.jpg");
    background-blend-mode: multiply;
}


