/* ------IMPORT FONTS------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



/* --------RESET DEFAULT STYLES-------- */
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    color: #d4d4d4;
    box-sizing: border-box;
}

/* ------PAGE CONTENTS POSITIONS AND SETTINGS------- */
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1d2131;
    gap: 40px;
    margin-top: 50px;  
    height: 200vh; 
}

main {
    display: flex;
    flex-flow: column;
    width: 950px;
    gap: 220px;
}

/* ---------MENU--------- */
.menu-principal {
    order:1;
}

.menu-principal {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 180px;
}

.menu-principal-image {
    height: 3.75em;
}

.menu-link-itens {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 110%;
    list-style-type: none;
    text-decoration:none;
    font-weight: 500;
    font-size: 18px;
}

.menu-link-itens a li:hover{
    color:rgb(160, 88, 228);
    transition: color 0.2s;
}




/* --------HERO SECTION--------- */

.hero-image-content {
    width: 32vw;
    border-radius: 6%;
}

.hero-h1 {
    color: #8224E3;
    font-size: 120px;
    font-weight: 700;
    line-height: 118px;
    letter-spacing: -2px;
    width: 350px;
}

.hero-h2{
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    width: 357px;
}

.hero {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.hero-title{
    display: flex;
    flex-flow: column nowrap;
    right: 10%;
    gap: 40px;
}


/*----------HERO  SCROLL DOWN ANIMATION----------*/
.hero-scroll-down {
    display: flex;
    width: 3.4rem;
    height: 4.7rem;
    background-color: #8224E3;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
}

.scroll {
    display: flex;
    width: 2rem;
    height: 3.2rem;
    border: 3px solid #fff;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
}

.scroll span {
    width: .55rem;
    height: .55rem;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    animation: scroll-down 1s linear infinite;
}
/* -------SCROLL DOWN ANIMATION------- */
@keyframes  scroll-down {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(1rem);
    }
}



/* ---------ABOUT SECTION---------- */
.about {
    display: flex;
    gap: 2vw;
}

.about-information-1 {
    display: flex;
    flex-flow: column;
    background-color: #8224E3;
    border-radius: 20px;
    padding: 3em 5em 4em;
    gap: 25px;

}
.about-information-2 {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 45px;
}

.about-head-information {
    color: #440583;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.about-content-information  {
    color: #ead4ff;

}


.redes-sociais-icons {
    display: flex;
    gap: 10px;
}

.about-age-and-experience {
    display: flex;
    gap: 100px;
}

.about-head-information-2 {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.about-content-information-2 {
    font-size: 80px;
    font-weight: 700;
    color: #8224E3;
}

.about-presentation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.presentation-title {
    font-size: 24px;
}

.presentation-paragraph::first-letter {
    font-size: 50px;
    float: left;
    line-height: 103%;
    initial-letter: -5;
    margin-right: 8px;
    margin-bottom: -10px;
}

.download-cv-button {
    margin-top: 10px;
    background-color: #8224E3;
    height: 60px;    
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

.fa-file-arrow-down {
    margin-left: 10px;
}



